# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.*
.env.local
.env.development
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Application specific
secret-generator.js
reset/